$button-color: #2500f9;
$title-color : #242f51;
$first-color: #f55767;
$second-color: #2563ff;
$third-color: #40975f;
$detail-color:#4c4c4d;
$background-color:#fff;
$star-color:#ffcc00;

$black:#2500f9;
$grey:#CCCCCC;
$white:#fff;