/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 0;
}
body img {
  max-width: 100%;
}

header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 2;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  width: 80%;
  margin: 0 200px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.header-logo {
  flex-shrink: 1;
}
.header-details {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-nav .nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
  margin-right: 90px;
}
.header-nav .nav-list .nav-element {
  margin-left: 50px;
  text-decoration: underline;
  text-decoration-color: #fff;
  color: #242f51;
}
.header-button, .main-text-button {
  background-color: #2500f9;
  color: white;
  border-style: none;
  height: 57px;
  width: 170px;
  border-radius: 28.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 120px;
}
.main-text {
  flex: 1;
  z-index: 1;
}
.main-text-choice {
  display: flex;
  align-items: center;
  width: 362px;
  height: 35px;
  background-color: #e2eaed;
  border-radius: 17.5px;
}
.main-text-choice-tick {
  width: 39px;
  height: 35px;
  border-radius: 17.5px;
  background-color: #feaa25;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.main-text-choice-tick ion-icon {
  height: 20px;
  width: 20px;
}
.main-text-title {
  width: 80%;
}
.main-text-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: #242f51;
  line-height: 75px;
  margin: 10px 0;
}
.main-text-detail p {
  margin: 20px 0;
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
}
.main-text a {
  margin-left: 30px;
  text-decoration: none;
  color: #2500f9;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.main-img {
  flex-shrink: 1;
  z-index: 1;
}
.main-img img {
  max-width: 100%;
}

.sponsor {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 100px 0;
}
.sponsor-detail {
  margin-bottom: 30px;
}
.sponsor-image {
  width: 100%;
}
.sponsor-image-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: -50px;
}
.sponsor-image-list-element {
  margin-left: 70px;
}

.awesome-app {
  display: flex;
  align-items: center;
  width: 85%;
}
.awesome-app-img {
  flex-shrink: 1;
  margin-right: 100px;
}
.awesome-app-detail {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.awesome-app-detail-text, .download-text, .faq-text, .testimonila-text-top, .charge-detail, .feature-detail-text, .reason-text, .designed-detail-text {
  width: 50%;
}
.awesome-app-detail-text h2, .download-text h2, .faq-text h2, .testimonila-text-top h2, .charge-detail h2, .feature-detail-text h2, .reason-text h2, .designed-detail-text h2 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #242f51;
}
.awesome-app-detail-text p, .download-text p, .faq-text p, .testimonila-text-top p, .charge-detail p, .feature-detail-text p, .reason-text p, .designed-detail-text p {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}
.awesome-app-detail-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 45%;
}
.awesome-app-detail-list-element {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 65px;
}
.awesome-app-detail-list-element-image {
  margin-right: 40px;
}
.awesome-app-detail-list-element-image img {
  height: 88px;
  max-width: none;
}
.awesome-app-detail-list-element-text h3, .faq .faq-list-element h3, .testimonila-text-bottom h3, .charge-offer-2-title-name h3, .charge-offer-1-title-name h3, .feature-detail-list-element-detail h3, .reason-list-element-detail h3, .automatic-reward-text h3, .automatic-network-text h3, .automatic-bill-text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.awesome-app-detail-list-element-text p, .faq .faq-list-element p, .testimonila-text-bottom p, .charge-offer-2-title-name p, .charge-offer-1-title-name p, .feature-detail-list-element-detail p, .reason-list-element-detail p, .automatic-reward-text p, .automatic-network-text p, .automatic-bill-text p {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}
.awesome-app-detail-list-element-text .performance, .faq .faq-list-element .performance, .testimonila-text-bottom .performance, .charge-offer-2-title-name .performance, .charge-offer-1-title-name .performance, .feature-detail-list-element-detail .performance, .reason-list-element-detail .performance, .automatic-reward-text .performance, .automatic-network-text .performance, .automatic-bill-text .performance {
  color: #f55767;
}
.awesome-app-detail-list-element-text .prototyping, .faq .faq-list-element .prototyping, .testimonila-text-bottom .prototyping, .charge-offer-2-title-name .prototyping, .charge-offer-1-title-name .prototyping, .feature-detail-list-element-detail .prototyping, .reason-list-element-detail .prototyping, .automatic-reward-text .prototyping, .automatic-network-text .prototyping, .automatic-bill-text .prototyping {
  color: #2563ff;
}
.awesome-app-detail-list-element-text .vector, .faq .faq-list-element .vector, .testimonila-text-bottom .vector, .charge-offer-2-title-name .vector, .charge-offer-1-title-name .vector, .feature-detail-list-element-detail .vector, .reason-list-element-detail .vector, .automatic-reward-text .vector, .automatic-network-text .vector, .automatic-bill-text .vector {
  color: #40975f;
}

.jackpot {
  margin: 0 0 100px 0;
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: -200px;
}
.jackpot-title h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #242f51;
  line-height: 48px;
}
.jackpot-line {
  border: 0.5px solid;
  height: 100px;
  margin: 0 50px;
  border-color: #cecece;
}
.jackpot-detail {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.automatic {
  display: flex;
  align-items: center;
  width: 60%;
  margin-bottom: 100px;
  margin-left: 100px;
}
.automatic-bill {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.automatic-bill-img {
  flex-shrink: 1;
}
.automatic-bill-text {
  flex: 1;
  color: #f55767;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  margin-top: 25px;
}
.automatic-bill-text p {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
}
.automatic-network {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.automatic-network-img {
  flex-shrink: 1;
}
.automatic-network-text {
  flex: 1;
  color: #2563ff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  margin-top: 25px;
}
.automatic-network-text p {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
}
.automatic-reward {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.automatic-reward-img {
  flex-shrink: 1;
}
.automatic-reward-text {
  flex: 1;
  color: #40975f;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  margin-top: 25px;
}
.automatic-reward-text p {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
}

.designed {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 100px;
}
.designed-img {
  flex-shrink: 1;
}
.designed-detail {
  flex: 1;
  margin-left: 150px;
}
.designed-detail-text {
  width: 50%;
  margin-bottom: 30px;
}
.designed-detail-text h2 {
  line-height: 45px;
}
.designed-detail-text p {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
  margin-top: 20px;
}
.designed-detail-button button {
  background-color: #2500f9;
  color: white;
  border-style: none;
  height: 57px;
  width: 170px;
  border-radius: 28.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.reason {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.reason-text {
  text-align: center;
  margin-bottom: 50px;
}
.reason-text h2 {
  margin-bottom: 25px;
}
.reason-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.reason-list-element {
  width: 33%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.reason-list-element-img {
  flex-shrink: 1;
}
.reason-list-element-detail {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 60%;
}
.reason-list-element-detail p {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
  line-height: 24px;
}
.reason-list-element-detail h3 {
  margin-top: 15px;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 100px;
}
.feature-img {
  flex-shrink: 1;
}
.feature-detail {
  margin-right: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 60%;
  flex: 1;
}
.feature-detail-text {
  margin-bottom: 30px;
  width: 70%;
}
.feature-detail-text h2 {
  width: 50%;
}
.feature-detail-text p {
  width: 50%;
}
.feature-detail-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 20px;
}
.feature-detail-list-element {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.feature-detail-list-element-img {
  flex-shrink: 1;
}
.feature-detail-list-element-detail {
  flex: 1;
  width: 60%;
}
.feature-detail-list-element-detail p {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
  line-height: 24px;
}
.feature-detail-list-element-detail h3 {
  margin-top: 15px;
}
.feature-detail-button {
  width: 70%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.feature-detail button {
  background-color: #2500f9;
  color: white;
  border-style: none;
  height: 57px;
  width: 170px;
  border-radius: 28.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.charge {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.charge-detail {
  text-align: center;
  width: 60%;
}
.charge .charge-switch {
  display: flex;
}
.charge .charge-switch span.switcher {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin: 20px 0;
}
.charge .charge-switch span.switcher input {
  cursor: pointer;
  appearance: none;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid;
  background-color: transparent;
  outline: none;
  border-color: lightgray;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.charge .charge-switch span.switcher input:before, .charge .charge-switch span.switcher input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
.charge .charge-switch span.switcher input:before {
  content: "Monthly";
  left: 20px;
}
.charge .charge-switch span.switcher input:after {
  content: "Annualy";
  right: 20px;
}
.charge .charge-switch span.switcher label {
  z-index: 1;
  position: absolute;
  top: 9px;
  bottom: 3px;
  cursor: pointer;
  border-radius: 20px;
}
.charge .charge-switch span.switcher.switcher-1 input:checked {
  background-color: #fff;
}
.charge .charge-switch span.switcher.switcher-1 input:checked:before {
  color: #fff;
  transition: color 0.5s 0.2s;
}
.charge .charge-switch span.switcher.switcher-1 input:checked:after {
  color: #CCCCCC;
  transition: color 0.5s;
}
.charge .charge-switch span.switcher.switcher-1 input:checked + label {
  left: 10px;
  right: 100px;
  background: #2500f9;
  transition: left 0.5s, right 0.4s 0.2s;
}
.charge .charge-switch span.switcher.switcher-1 input:not(:checked) {
  background: #fff;
  transition: background 0.5s -0.1s;
}
.charge .charge-switch span.switcher.switcher-1 input:not(:checked):before {
  color: #CCCCCC;
  transition: color 0.5s;
}
.charge .charge-switch span.switcher.switcher-1 input:not(:checked):after {
  color: #fff;
  transition: color 0.5s 0.2s;
}
.charge .charge-switch span.switcher.switcher-1 input:not(:checked) + label {
  left: 100px;
  right: 2px;
  background: #2500f9;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
.charge-offer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  width: 60%;
  margin-left: 50px;
}
.charge-offer-1 {
  width: 50%;
  margin-right: 50px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.charge-offer-1-title {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
  border-radius: 1rem;
}
.charge-offer-1-title-price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-top: 30px;
}
.charge-offer-1-title-price h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: #242f51;
}
.charge-offer-1-title-price p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
}
.charge-offer-1-title-name {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.charge-offer-1-title-name p {
  margin-bottom: 20px;
}
.charge-offer-1-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.charge-offer-1-description li {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
  margin-bottom: 20px;
}
.charge-offer-1-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.charge-offer-1 button {
  background-color: #2500f9;
  color: white;
  border-style: none;
  height: 57px;
  width: 170px;
  border-radius: 28.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.charge-offer-2 {
  width: 50%;
  margin-right: 50px;
  background-color: #fff;
  margin-top: 36px;
  border-radius: 1rem;
  border: 0.5px solid;
  border-color: turquoise;
}
.charge-offer-2-title {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
  border-radius: 1rem;
}
.charge-offer-2-title-price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-top: 30px;
}
.charge-offer-2-title-price h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: #242f51;
}
.charge-offer-2-title-price p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
}
.charge-offer-2-title-name {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.charge-offer-2-title-name p {
  margin-bottom: 20px;
}
.charge-offer-2-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.charge-offer-2-description li {
  font-size: 14px;
  color: #4c4c4d;
  line-height: 24px;
  margin-bottom: 20px;
}
.charge-offer-2-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.charge-offer-2 button {
  background-color: #2500f9;
  color: white;
  border-style: none;
  height: 57px;
  width: 170px;
  border-radius: 28.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.charge-offer-2-trail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.charge-offer-2-trail a {
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 14px;
}

.testimonila {
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px;
}
.testimonila-img {
  flex-shrink: 1;
}
.testimonila-img img {
  height: 600px;
}
.testimonila-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  flex: 1;
  margin-left: 20px;
}
.testimonila-text-top {
  width: 70%;
}
.testimonila-text-bottom {
  width: 70%;
}
.testimonila-text-stars {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.testimonila-text-star ion-icon {
  height: 25px;
  width: 25px;
  color: #ffcc00;
  margin-right: 5px;
}
.testimonila-text p {
  margin: 15px 0;
}

.faq {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}
.faq-text {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 60%;
}
.faq-text p {
  width: 60%;
  margin-top: 20px;
}
.faq .faq-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}
.faq .faq-list-element {
  width: 70%;
  margin-bottom: 40px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.faq .faq-list-element-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 40px 40px 40px;
}
.faq .faq-list-element-question button {
  background: transparent;
  border: none;
  font-size: 35px;
  cursor: pointer;
  transition: 0.5s ease;
}
.faq .faq-list-element-answer {
  margin: 0px 40px 40px 40px;
  word-break: break-all;
  display: none;
}
.faq .faq-list-element .faq-list-element-question.active button {
  transform: rotate(45deg);
  transition: 0.5s ease;
}

.download {
  display: flex;
  align-items: flex-start;
}
.download-text {
  flex: 1;
  margin: 60px 0 0 300px;
}
.download-text p {
  width: 70%;
  margin: 40px 0;
}
.download-text h2 {
  font-size: 48px;
}
.download-img {
  flex-shrink: 1;
}

footer {
  height: 567px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #242f51;
  width: 100%;
}
footer .footer-nav {
  margin: 50px 0px 50px 30px;
}
footer .footer-nav .nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
}
footer .footer-nav .nav-list .nav-element {
  margin-right: 30px;
  text-decoration: underline;
  text-decoration-color: #242f51;
  color: #fff;
}
footer .link {
  display: flex;
  align-items: center;
  margin-right: -30px;
}
footer .link-element {
  margin-right: 30px;
}
footer .link-element ion-icon {
  height: 40px;
  color: white;
  width: 40px;
}

@media screen and (max-width: 1023px) {
  .main {
    flex-direction: column;
  }
  .main-text {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main-text a {
    margin: 30px 0 0 0;
  }

  .awesome-app {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .awesome-app-detail {
    display: flex;
    align-items: center;
  }

  .jackpot {
    margin: 0 0 100px 0;
    width: 80%;
  }

  .automatic {
    width: 80%;
  }
  .automatic .automatic-reward {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .automatic .automatic-network {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .automatic .automatic-bill {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .designed {
    flex-direction: column;
    align-items: center;
  }
  .designed-detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px 0 100px 0;
  }

  .feature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .feature-detail-text {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .feature-detail-list {
    width: 100%;
  }
  .feature-detail-list-element {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .feature-detail-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reason {
    width: 100%;
  }
  .reason-list {
    width: 100%;
  }
  .reason-list-element {
    width: 50%;
  }

  .charge-offer-1 {
    min-width: 40%;
  }

  .charge-offer-2 {
    min-width: 40%;
  }

  .testimonila {
    flex-direction: column;
  }
  .testimonila-text {
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 50px 0 0 0;
  }

  .download {
    flex-direction: column;
    margin: 0;
  }
  .download-text {
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #f55767;
  border-radius: 7rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bb2828;
}

/*# sourceMappingURL=style.css.map */
